{{ define "styles" }}
    {{ $.Scratch.Set "style_opts" (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
{{ end }}

{{ define "main" }}

<div class="splash-container">
  <div class="splash">
    <h1>{{ .Params.heading }}</h1>
    {{ if isset .Params "handle" }}
    <span class="handle">@{{ .Params.handle }}</span>
    {{ end }}
    <h2>
      {{ .Params.subheading }}
    </h2>
    {{ partial "social-icons.html" .}}
    <p>I am a seasoned IT Professional with experience as a DevOps Engineer, an IT Infrastructure Lead, and an IT Application Administrator. My professional focus is on honing my craft and improving my ability to build integrations into Kubernetes clusters. I thoroughly enjoy and am fully dedicated to combining CNCF tools to build unique and cutting-edge computing platforms.</p>
    <p>
	<img src="rhcsa_badge.png">    
	<img src="aws_cloud_practitioner_badge.png">
    </p>
</div>
</div>

{{ end }}
